@model IEnumerable<Employee>

@{
    ViewData["Title"] = "Index";
}


<h1>All Employees</h1>
<br />
<br />



<a asp-action="Create" class="btn btn-primary">Create Employee</a>
<br />
<br />

<form>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <input placeholder="Search by Name" name="SearchInput" class="form-control" />

            </div>
            <div class="col-6">
                <input type="submit" value="Search" class="btn btn-success " />

            </div>

        </div>
    </div>

</form>
<br />
<br />

@if (Model.Count() > 0)
{
    <table class="table table-hover table-striped p-5 style=max-width:1000px">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Salary</th>
                <th>Is Active</th>
                <th>Is Deleted</th>
                <th>@Html.DisplayNameFor(E => E.DateOfBirth)</th>
                <th>@Html.DisplayNameFor(E => E.CreateAt)</th>
                <th>Department</th>
                <th> Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="~/files/images/@item.ImageName" height="100" class="img-fluid rounded" />
                    </td>
                   
                    <td>@item.Name</td>
                    <td>@item.Age</td>
                    <td>@item.Email</td>
                    <td>@item.Address</td>
                    <td>@item.Phone</td>
                    <td>@item.Salary</td>
                    <td>@item.IsActive</td>
                    <td>@item.IsDeleted</td>
                    <td>@item.DateOfBirth</td>
                    <td>@item.CreateAt</td>
                  

                    @if (item.Department is null)
                    {
                        <td>No Department</td>
                    }
                    else
                    {
                        <td>@item.Department.Name</td>
                    }


                    <partial name="_IndexPartialView" model="@item.Id" />
                </tr>
            }
        </tbody>
    </table>
}

else
{
    <div class="mt-4 alert alert-success">
        <h4>
            There are no Employee
        </h4>
    </div>
}
